:root {
    --light: #662f43;
    --blue: #17628a;
    --blue-border: #052945;
    --dark-red: #3f061b;
}


/* this establishos the background of the page as the green with a gradiant */
body {
    background: linear-gradient(90deg, rgba(21, 88, 16, 1) 0%, rgba(176, 240, 119, 0.8183867296918768) 100%);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/* this makes sure links don't have text decorations */
a {
    text-decoration: none;
}

/* aligning the text  on the right */
.title-for-content-area {
    text-align: right;
}

/* applying style to the main content div */
.main-content-div {
    border-left: solid black 4px;
    background: var(--light);
    color: white;
    border-bottom: var(--dark-red) solid 7px;
    padding: 10px;
}

/* applying style to the second image container */
#second-img-container {
    border-left: 0;
    border-bottom: var(--dark-red) solid 7px;
}

/* applying style to the picture of me */
#picture-of-me {
    border-radius: 50%;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
}

/* making sure the card title doesn't have marigns */
.card-title {
    margin: 0;
}

/* setting the font size for the titles for the content areas */
.title-for-content-area {
    font-size: 1.5em;
}

/* giving the second cards their width and margins */
.secondary-card {
    width: 44%;
    margin: 3%;
    position: relative;
}

/* this sets up all of the style and location for the content within the footer*/
.link-container {
    display: flex;
    background-color: var(--blue);
    justify-content: space-around;
    align-items: center;
    height: auto;
    border-bottom: solid var(--blue-border) 7px;
}

/* this gives you a pointer for your cursor when hovering over the links within the footer*/
.link-container a {
    cursor: pointer;
    font-size: 2em;
    width: 20%;
    color: var(--dark-red);
}

/* this sets up the transition for the hover*/
.link-container a {
    transition: all 0.5s ease-in;
    text-align: center;
}

/* this changes the background color when you hover over each link*/
.link-container a:hover {
    background-color: var(--light);
    color: var(--blue);
}

/* styling each title for the cards */
h5 {
    color: var(--dark-red);
    border: solid 2px var(--blue-border);
    background-color: lightgray;
    height: auto;
    text-align: center;
    font-size: 1em;
    border-bottom: 0;
}

/* giving the card images a border */
.card-img {
    border: solid 2px var(--blue-border);
    border-top: 0;
}

/* giving the height and width for the images */
img {
    width: 100%;
    height: 95%;
}

/* making sure the main image is 100% sized */
.main-img {
    height: 100%;
    width: 100%;
}

/* giving the nav container flex */
#nav-container {
    display: flex;
    flex: wrap;
}

/* giving each card a box shadow*/
.card,
.secondary-card {
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}

/* this adds the hover effect on the pictures*/
.card:hover,
.secondary-card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.8);
}

/* establishing responsivness for medium sized screens */
@media(max-width:992px) {

    /* chaning the asignment of the titles to be centered */
    .title-for-content-area {
        text-align: center;
    }

    /* changing the borders acordingly */
    .main-content-div {
        border-top: solid black 3px;
        border-left: 0;
    }

    #first-img-container {
        border-bottom: 0;
    }

    #second-img-container {
        border-top: 0;
    }
}

/* establishing responsiveness for small sized screens */
@media(max-width:576px) {

    /* changing the cards width and margin */
    .secondary-card {
        width: 96%;
        margin: 2%;
    }

    /* stacking the nav elements ontop of eachother */
    #nav-container {
        display: inline;
    }

    #nav-container a {
        width: 100%;
    }
}